.entry-content {

  // Global Case Study Styles
  .case-studies {

	.case-study-carousel {
	  .elementor-loop-container {
		min-height : 456px!important;
	  }
	}
  }

  // Home Focus - styles
  @import "case-studies-home";
}


