.entry-content {

  // Global Case Study Styles
  .case-studies {

	.case-study-carousel {
	  .elementor-loop-container {
		min-height : 456px !important;

		.swiper-wrapper {

		  .swiper-slide {

			// container
			.e-con {

			  &:before {
				content    : "";
				position   : absolute;

				top        : 0;
				left       : 0;
				width      : 100%;
				height     : 100%;

				background : linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.70) 70.26%);
			  }

			  .e-con-inner {
				position : relative;
			  }
			}
		  }
		}
	  }
	}
  }

  // Home Focus - styles
  @import "case-studies-home";
}


