.case-studies--home {

  .case-study-carousel {
	position : relative;

	&:before,
	&:after {
	  content        : "";
	  position       : absolute;

	  top            : -15px;
	  width          : 90px;
	  bottom         : 0;
	  //height       : 100%;

	  z-index        : 2;
	  pointer-events : none;
	}

	&:before {
	  left       : -13px;
	  //background : linear-gradient(265deg, rgba(255, 255, 255, 0.00) 8.89%, #FFFFFF 101.05%);

	  background : linear-gradient(to right, #FFFFFF 0%, rgba(255, 255, 255, 0) 91.11%);
	}

	&:after {
	  right      : -13px;
	  // background : linear-gradient(265deg, rgba(255, 255, 255, 0.00) 8.89%, #FFFFFF 101.05%);

	  background : linear-gradient(to left, #FFFFFF 0%, rgba(255, 255, 255, 0) 91.11%);
	}

	.elementor-loop-container {
	  min-height : 456px !important;

	  .swiper-wrapper {

		.swiper-slide {

		  // container
		  .e-con {

			&:before {
			  content    : "";
			  position   : absolute;

			  top        : 0;
			  left       : 0;
			  width      : 100%;
			  height     : 100%;

			  background : linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.70) 70.26%);
			}

			.e-con-inner {
			  position       : relative;

			  padding-bottom : 38px;
			  padding-left   : 23px;
			  padding-right  : 26px;

			  display        : flex;
			  flex-direction : column;

			  .elementor-element {

				&:first-child {
				  margin-top : auto;
				}

				.elementor-page-title {

				}

				.elementor-widget-button {

				}
			  }
			}
		  }
		}
	  }
	}
  }
}
