.author-block{
	margin-top: 52px;
	.author-card{
		display: flex;
	    align-items: center;
	    gap: 16px;
	    &__profile{
	    	flex-basis: 88px;
	    	position: relative;
	    	.author-image, .pp-user-avatar, .avatar{
	    		width: 88px;
	    		height: 88px;
	    		position: relative;
	    		object-fit: cover;
	    		border-radius: 50%;
	    		object-position: center;
	    	}
	    }
	    &__details{
			font-style: normal;
	    	&-name{
				font-weight: 400;
				font-size: 16px;
				line-height: 24px;
				color: $c-navy;
	    	}
	    	&-position{
				font-weight: 300;
				font-size: 14px;
				line-height: 21px;
				color: #363636;
	    	}
	    }
	}
	.author-description{
		margin-top: 16px;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: 21px;
		color: $c-gray;
	}
	.author-description + .author-card{
		border-top: 1px solid rgba(20, 38, 58, 0.2);
		padding-top: 16px;
		margin-top: 16px;
	}
}

.author-list {
	margin: 0 0 40px;
	&__item {
		padding: 32px 0;
		border-top: 1px solid #ebebeb;
		&:first-child {
			padding-top: 0;
			border-top-width: 0;
		}
	}
}
.author-post {
	@include mf-tablet {
		display: flex;
		align-items: flex-start;
		&__media {
			-webkit-box-flex: 0;
			-webkit-flex: none;
			-ms-flex: none;
			flex: none;
			width: 40%;
			max-width: 310px;
			margin: 0;
			padding-left: 20px;
			-webkit-box-ordinal-group: 3;
			-webkit-order: 2;
			-ms-flex-order: 2;
			order: 2;
		}
		&__body {
			flex: 1 1 0%;
		}
	}
	@include mobile {
		&__media {
			margin: 0 0 24px;
		}
	}
	&__media-item {
		position: relative;
		display: block;
		padding-bottom: 76%;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 24px
		}
	}
	&__meta {
		color: #de5127;
		margin: 0 0 12px;
	}
	&__headline {
		text-decoration: none;
		.h3 {
			margin: 0 0 12px;
		}
	}
	&__excerpt {
		margin: 16px 0 0;
	}
	&__more {
		margin: 24px 0 0;
	}
}