.cookie-notification {
	background-color: $c-navy;
	color: #ffffff;
	max-height: 75vh;
	max-width: 100vw; // android width fix.
	opacity: 1;
	overflow-y: auto;
	position: fixed;
	transition-property: opacity;
	width: 100%;
	z-index: 9000001; // 1 more than the olark chat widget.
	&--top {
		top: 0;
	}
	&--bottom {
		bottom: 0;
	}
	&__inner {
		line-height: 1.4;
		margin: 0 auto;
		max-width: 1320px;
		display: flex;
		gap: 20px;
		padding: 30px 20px;
		justify-content: space-between;
		@include tablet {
			display:grid;
			grid-template-columns:1fr;
			grid-gap: 20px;
			padding: 20px;
		}
	}
	&__content {
		color: white;
		max-width: 900px;

		p {
			font-size: 16px;
			font-weight: normal;
			line-height: 1.5;
			margin: 0;
			@include tablet {
				font-size: 14px;
			}
			
		}

		a {
			color: inherit;
			text-decoration: underline;

			&:hover,
			&:focus {
				text-decoration: none;
			}
			
		}
	}

	&__button {
		.btn {
			background-color: #fff;
			color: #515250;
			transition: all 0.2s ease 0s;
			&:hover {
				background-color: $c-berry;
				color: #fff;
			}
		}
	}
}

.android {
	.cookie-notification--bottom {
		bottom: 50px; // bottom chrome bar covers continue button on android.
	}
}
