.gp-site-footer {
    background: $c-navy;
    color: rgba(242, 238, 234, 0.8);
    padding: 60px 0 34px;
    @include mobile {
        padding: 30px 0 24px;
    }
    &__wrap {
        display: grid;
        grid-template-columns: 144px 1fr;
        grid-gap: 80px;
        @include desktop {
            grid-gap: 30px;
            grid-template-columns: 1fr;
        }
    }
    &__frame {
        border-top: 1px solid rgba(255, 255, 255, 0.24);
        padding: 32px 0 0;
    }
    &__holder {
        padding: 0 0 40px;
        display: grid;
        grid-template-columns: 1fr 380px;
        grid-gap: 56px;
        @include tablet {
            grid-gap: 24px;
        }
        @include mobile {
            grid-template-columns: 1fr;   
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        gap:32px;
    }
    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: rgba(242, 238, 234, 0.8);
    }
    &__buttons {
        display: flex;
        gap:16px;
        flex-wrap: wrap;
        .button {
            flex: 0 0 160px;
        }
    }
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include tablet {
            display: block;
            text-align: center;
            .social-list {
                justify-content: center;
            }
        }
    }
    &__copy {
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #BFC0BF;
        @include tablet {
            margin-top: 10px;
        }
    }
    &__group {
        font-size: 12px;
        line-height: 1.5;
        white-space: nowrap;
        @include tablet {
            margin-top: 20px;
        }
        .ltg-logo {
            margin:-15px 0 0 8px;
            width:40px;
            height:35px;
            overflow:hidden;
            display: inline-block;
            vertical-align: top;
            background-image: url("data:image/svg+xml,%3Csvg width='40' height='35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 26.672c0-.578.154-1.232.539-2.308L7.117 5.32c.462-1.385.423-1.808-.27-2.193l-1.076-.615c-.116-.308-.116-.654.192-.924 1.23-.5 5.155-1.23 7.079-1.307.269.038.384.154.384.384-.577 1.616-1.115 3.001-1.808 5.04l-6.31 18.273c-.384 1.078-.499 1.77.04 1.77.846 0 3.077-2.346 4-3.424.423-.038.808.347.731.847-1.115 2.155-3.231 5.155-7.617 5.155C.539 28.326 0 27.441 0 26.672ZM20.85 14.4l-3.577 9.965c-.192.538-.192.884.23.884.693 0 2.54-1.385 4.079-2.962.577.038.808.385.768.885-1.307 1.962-5.231 5.155-8.386 5.155-1.038 0-1.77-.847-1.77-1.654 0-.539.077-1.04.424-2.078l3.5-10.195h-2.846c-.385-.308-.116-1.23.308-1.462l3.346-.692 2.77-3.693c.347-.23.847-.308 1.308-.308.54 0 1.193.23 1.424.654l-1.04 3.501h3.54c.616.5.193 1.73-.192 2H20.85Zm7.488 6.123c0 2.162 1.47 3.72 3.545 3.72 2.047 0 3.46-1.529 3.46-3.69 0-2.048-1.499-3.633-3.43-3.633-2.048 0-3.575 1.527-3.575 3.603Zm11.33 5.535c0 3-.145 3.776-.98 4.93-1.413 2.018-4.123 3.23-7.208 3.23-3.92 0-6.775-2.019-7.178-5.075h4.958c.433.922 1.297 1.412 2.566 1.412 2.192 0 3.489-1.44 3.489-3.89v-.462c-.606 1.181-2.48 2.075-4.325 2.075-3.892 0-6.977-3.373-6.977-7.61 0-4.469 3.114-7.785 7.323-7.785 1.874 0 3.286.606 4.238 1.817v-1.326h4.093v12.683' fill='%23fff'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h40v35H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: 0 0;
            text-indent:-9999px;
            cursor:pointer;
            @include mobile {
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 5px;
            }
            a{
                height:100%;
                display:block;
            }
        }
    }
    &__links {
        padding:0;
        margin:0 auto 0 24px;
        list-style:none;
        display: flex;
        flex-wrap: wrap;
        gap:24px;
        font-size: 12px;
        line-height: 150%;
        color: #BFC0BF;
        @include tablet {
            margin: 0 24px;
            gap:12px;
            margin: 20px 0 0;
            justify-content: center;
        }
        
        a {
            color: #BFC0BF;
            text-decoration: none;
            &:hover {
                color: #F38421;
            }
        }
    }
}
.footer-nav {
    padding:0;
    margin:0;
    list-style:none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-transform: uppercase;
    li:before{
        content: none;
    }
    @include desktop-lg {
        grid-gap: 20px;
    }
    @include tablet {
        grid-template-columns: 1fr;
    }
    a {
        text-decoration: none;
        color: #fff;
        &:hover {
            color: #F38421;
        }
    }
    .sub-menu {
        padding:32px 0 0;
        margin:0;
        list-style:none;
        display: flex;
        flex-direction: column;
        gap:12px;
        text-transform: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        @include tablet {
            padding-top: 14px;
        }
        a {
            color: #BFC0BF;
            &:hover {
                color: #F38421;
            }
        }
    }
}