.site-head {
    background-color: $c-navy;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 12;
    &__top {
        padding: 15px 0;
        background-color: $c-navy;
        color: #fff;
        border-bottom: 1px solid rgba(255, 255, 255, 0.12);
        position: relative;
        z-index: 13;
        @include desktop {
            display: none;
        }
    }
    &__wrap {
        padding: 12px 0;
    }
    &__frame {
        display: flex;
        align-items: center;
        gap:40px;
    }
    &__tools {
        margin-left: auto;
        display: flex;
        gap:12px;
        align-items: center;
        @include desktop {
            margin-top: 20px;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
    &__holder {
        @include desktop {
            display: none;
            position: absolute;
            top: 72px;
            right: 0;
            background-color: $c-navy;
            width: 100%;
            z-index: 21;
            overflow: auto;
            height: calc(100vh - 72px);
            padding: 20px;
        }
        @include mf-desktop {
            flex: 1 1 auto;
            display: flex;
            align-items: center;
        }
    }
}
.site-logo {
    position: relative;
    &__link {
        display: block;
    }
    svg {
        vertical-align: top;
    }
}
.nav-opener {
	display: none;
	width: 40px;
	height: 40px;
	margin: 0 0 0 auto;
    border: none;
    background: none;
    position: relative;
    -webkit-appearance: none;
    @include desktop {
        display: block;
    }
    em {
        display: none;
    }
    span {
        display: block;
        width: 26px;
        height: 3px;
        background: #fff;
        position: absolute !important;
        top: 50% !important;
        left: 50% !important;
        margin: -2px 0 0 -13px;
        transition: all 0.2s ease 0s;
        &:before,
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            background: #fff;
            height: 3px;
            top: -8px;
            left: 0;
            transition: all 0.2s ease 0s;
        }
        &:after {
            top: 8px;
        }
    }
}
.nav-active {
    @include desktop {
        .site-head__holder {
            display: block;
        }
        .nav-opener span {
            background: none;
            &:before {
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
                margin: 8px 0 0;
            }
            &:after {
                -moz-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
                margin: -8px 0 0;
            }
        }
    }
}

.top-menu {
    padding:0;
    margin:0;
    list-style:none;
    @include mf-desktop {
        display: flex;
        gap:24px;
        align-items: center;
    }
}
.head-nav {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    @include mf-desktop {
        .dropdown-toggle {
            position: absolute;
            width: 16px;
            right: 0;
            top: 0;
            height: 16px;
            padding: 0;
            background-color: transparent;
            border: none;
            &.toggled-on {
                & ~ .sub-menu-wrapper {
                    visibility: visible;
                    opacity: 1;
                    margin-top: 30px;
                }
                & ~ .sub-menu:not(.level1) {
                    display: block;
                    margin-top: 12px;
                    visibility: visible;
                    opacity: 1;
                    pointer-events: all;
                }
            }
        }
        .mobile-parent {
            display: none;
        }
        .menu-item {
            // position: relative;
            &:hover {
                .sub-menu:not(.level1) {
                    display: block;
                    margin-top: 12px;
                    visibility: visible;
                    opacity: 1;
                    pointer-events: all;
                    &::before {
                        height: 16px;
                    }
                }
            }
            & > .sub-menu:not(.level1) {
                position: absolute;
                visibility: hidden;
                opacity: 0;
                pointer-events: none;
                top: 100%;
                left: 0;
                width: 210px;
                background: #FFFFFF;
                border: 1px solid rgba(20, 38, 58, 0.2);
                box-shadow: 0px 0px 24px rgba(6, 23, 41, 0.16);
                border-radius: 12px;
                padding: 10px;
                color: $c-navy;
                z-index: 4;
                margin-top: 0;
                transition: margin-top 0.2s ease 0s, opacity 0.2s ease 0s;
                &::before {
                    content: '';
                    position: absolute;
                    bottom: 100%;
                    left: 0;
                    width: 100%;
                    height: 10px;
                    margin-bottom: -2px;
                    z-index: 2;
                }
                .menu-item {
                    padding: 6px;
                }
                a {
                    color: $c-navy;
                    &:hover {
                        color: $c-berry;
                    }
                }
            }
        }

        .menu-item-has-children > .menu-item__link {
            padding-right: 16px;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                width: 12px;
                height: 12px;
                margin-top: -6px;
                background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 9 2 3h8L6 9Z' fill='%23fff'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-position: 50% 50%;
            }
        }
    }
    @include desktop {
        font-size: 16px;
        line-height: 24px;
        .dropdown-toggle {
            display: none;
        }
        .sub-menu {
            display: none;
            padding: 6px 0 0 20px;

        }

        .menu-item {
            position: relative;
            padding: 6px 0;
            &.submenu-active {
                & > .sub-menu__opener {
                    transform: rotate(180deg);
                    &:before {
                        left: 0;
                    }
                }
                & > .sub-menu-wrapper > .sub-menu,
                & > .sub-menu {
                    display: block;
                }

            }
        }
        .menu-item-has-children {
            padding-right: 40px;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                right: 40px;
                bottom: 0;
                border-left: 1px solid rgba(255,255,255,.1);
            }
        }
        .sub-menu__opener {
            width: 40px;
            height: 36px;
            border: none;
            display: block;
            position: absolute;
            background-color: transparent;
            padding: 0;
            top: 0;
            right: 0;
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.293 6.793a1 1 0 0 1 1.414 0L10 11.086l4.293-4.293a1 1 0 1 1 1.414 1.414l-5 5a1 1 0 0 1-1.414 0l-5-5a1 1 0 0 1 0-1.414Z' fill='%23fff'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: 50% 50%;

        }
        & > li {
            border-bottom: 1px solid rgba(255,255,255,.1);
        }
        .menu-item:has(.menu-item__link--title) > .sub-menu__opener:before {
            content: '';
            position: absolute;
            top: 0;
            width: calc(100vw - 40px);
            right: 0;
            height: 100%;
        }
    }
    a:not(.button) {
        color: #fff;
        text-decoration: none;
        display: inline-block;
        position: relative;
        @include desktop {
            display: inline-flex;
            gap:16px;
            align-items: center;
        }
        &:hover {
            color: #F38421;
        }
    }
}
.main-header-menu {
    padding:0;
    margin:0;
    list-style:none;
    color: #fff;
    li:before{
        content: none;
        margin-left: 0px;
    }
    ul {
        padding:0;
        margin:0;
        list-style:none;
    }
    @include mf-desktop {
        display: flex;
        gap:24px;
        align-items: center;
        .menu-item {
            &:not(.mega-menu-item){
                position: relative;
            }
            &__trigger {
                display: none;
            }
            &:hover {
                .sub-menu-wrapper {
                    // display: block;
                    margin-top: 30px;
                    visibility: visible;
                    opacity: 1;
                    &:before {
                        height: 34px;
                        margin-bottom: -2px;
                    }
                }
            }
        }
        .sub-menu-wrapper {
            position: absolute;
            // display: none;
            z-index: 4;
            width: calc(100vw - 40px);
            max-width: 1280px;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 0;
            visibility: hidden;
            opacity: 0;
            background: #FFFFFF;
            border: 1px solid rgba(20, 38, 58, 0.2);
            box-shadow: 0px 0px 24px rgba(6, 23, 41, 0.16);
            border-radius: 12px;
            color: $c-navy;
            transition: all 0.2s ease 0s;
            @media only screen and (min-width: 1200px) and (max-width: 1300px) {
                // margin-left: -140px;
            }
            &:has(.megamenu-footer) {
                .sub-menu.level0>.menu-item:nth-child(4) {
                    border-bottom-left-radius: 0;
                }
            }
            &:before {
                content: '';
                position: absolute;
                bottom: 100%;
                left: 0;
                right: 0;
                height: 0px;
                transition: all 0.2s ease 0s;
            }
            .sub-menu {
                margin-top: 0 !important;
                &.level0 {
                    display: grid !important;
                    grid-template-columns: repeat(4, 1fr);
                    height: 73vh;
                    max-height: 660px;
                    overflow-y: auto;
                    padding: 14px 0px;
                    & > .menu-item {
                        padding: 10px 24px;
                        @media only screen and (min-width: 1200px) and (max-width: 1300px) {
                            padding: 10px 16px;
                        }
                        &:nth-child(1) {
                            // background-color: #F8F8F8;
                            border-top-left-radius: 12px;
                        }
                        &:nth-child(4) {
                            // background-color: #F8F8F8;
                            // grid-row-start: 1;
                            // grid-row-end: 4;
                            border-bottom-left-radius: 12px;
                        }
                        &:nth-child(5) {
                            grid-row-start: 2;
                            grid-row-end: 2;
                            grid-column-start: 1;
                            grid-column-end: 2;
                        }
                        &:nth-child(6) {
                            grid-row-start: 2;
                            grid-row-end: 2;
                            grid-column-start: 2;
                            grid-column-end: 2;
                            // padding-top: 8px;
                        }
                        &:nth-child(7) {
                            grid-row-start: 2;
                            grid-row-end: 2;
                            grid-column-start: 3;
                        }
                        &:nth-child(8) {
                            grid-row-start: 2;
                            grid-row-end: 2;
                            grid-column-start: 4;
                        }
                        & > a {
                            display: inline-flex;
                            align-items: center;
                            gap:12px;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 150%;
                            color: $c-navy;
                            padding: 0;
                            &:before {
                                display: none;
                            }
                            .icon-image {
                                width: 44px;
                                height: 44px;
                                position: relative;
                                display: flex;
                                img {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;
                                }
                            }
                            .icon {
                                width: 44px;
                                height: 44px;
                                border-radius: 50%;
                                display: flex;
                                flex: 0 0 44px;
                                min-width: 44px;
                                background: $c-aqua;
                                color: #fff;
                                justify-content: center;
                                align-items: center;
                            }
                            .menu-text {
                                min-width: 0;
                            }
                        }
                    }
                }
                &.level1 {
                    padding: 12px 0 0;
                    display: flex;
                    flex-direction: column;
                    gap:8px;
                    @media only screen and (min-width: 1200px) and (max-height: 820px) {
                        gap:4px;
                    }
                    li {
                        padding: 0 0 0 12px;
                        position: relative;
                        &::before {
                            content: '';
                            position: absolute;
                            top: 8px;
                            left: 0;
                            width: 4px;
                            height: 4px;
                            border-radius: 50%;
                            background-color: $c-gray;
                        }
                    }
                    a {
                        color: $c-gray;
                        &:hover {
                            color: $c-berry;
                        }
                    }
                }
            }
            a:not(.button) {
                color: $c-navy;
            }
            .megamenu-footer {
                border-top: 1px solid rgba(20, 38, 58, 0.2);
                padding: 16px 24px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .button {
                    display: inline-flex;
                }
                &__description {
                    padding: 0 0 0 12px;
                    position: relative;
                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: -5px;
                        bottom: -5px;
                        border-left: 2px solid $c-berry;
                    }
                }
            }
        }

    }
    @include mf-desktop-lg{
        .main-header-menu .sub-menu-wrapper{
            width: 1124px   ;
        }
    }
    @include desktop {
        .megamenu-footer {
            display: none;
        }
        .icon-image {
            width: 32px;
            height: 32px;
        }
    }
}
.search-form {
    &__item {
        position: relative;

    }
    &__submit {
        position: absolute;
        width: 24px;
        height: 24px;
        top: 10px;
        left: 20px;
        padding: 0;
        border: none;
        background: none;
        color: #fff;
        &:hover {
            background: none;
        }
        svg  path{
            stroke: currentColor;
        }
    }
    &__input {
        border: 1px solid rgba(255, 255, 255, 0.24);
        border-radius: 24px;
        font-size: 12px;
        line-height: 24px;
        padding: 9px 20px 9px 51px;
        background: none;
        height: 44px;
        box-sizing: border-box;
        color: #fff;
        font-family: $main-font;
        font-weight: 500;
        &::-webkit-input-placeholder {
            color:#BFC0BF;
            opacity: 1;
        }
        &:-moz-placeholder {
            color:#BFC0BF;
            opacity: 1;
        }
        &::-moz-placeholder {
            color:#BFC0BF;
            opacity: 1;
        }
        &:-ms-input-placeholder {
            color:#BFC0BF;
            opacity: 1;
        }
        &:active,
        &:focus {
            border-color: #fff;
        }
    }
}
