.home-hero-new{
    position: relative;
    overflow: hidden;
    padding: 115px 0;
    @include mobile-sm{
        padding: 35px 0px;
    }
    &__wrap{
        padding: 75px 70px;
        color: #fff;
        background-color: rgba(0,0,0,.75);
        max-width: 800px;
        width: 100%;
        @include desktop-lg{
            padding: 55px 50px;
            max-width: 730px;
        }
        @include mobile{
            max-width: 470px;
        }
        @include mobile-sm{
            padding: 35px 20px;
            max-width: 340px;
        }
    }
    &__title{
        font-weight: 800;
        font-size: 50px;
        @include desktop-lg {
            font-size: 48px;
        }
        @include tablet {
            font-size: 42px;
        }
        @include mobile {
            font-size: 26px;
        }
        @include mobile-sm {
            font-size: 21px;
        }
    }
    &__description{
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 50px;
        @include desktop-lg{
            font-size: 18px;
        }
        @include mobile-sm{
            font-size: 16px;
            margin-bottom: 40px;
        }
    }
    &__buttons{
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        @include mobile-sm{
            gap: 16px;
        }
        .button {
            flex: 0 0 200px;
            min-width: 0;
            font-size: 20px;
            font-weight: 600;
            padding-top: 13px;
            padding-bottom: 13px;
            border-radius: 40px;
            @include mobile{
                flex: 0 0 160px;
                font-size: 16px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            @include mobile-sm{
                flex: 0 0 130px;
                font-size: 13px;
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }
    }

    .owl-carousel-hero{
        height: 100%;
        .owl-stage-outer, .owl-stage{
            height: 100%;
        }
        .owl-item{
            height: 100%;
            .slider-item{
                height: 100%;
            }
        }
    }
}

.bg-element{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    &__item{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__overlay{
        position: absolute;
        top: 0;
        left: 0px;
        width: 100%;
        height: 100%;
        mix-blend-mode: multiply;
        background-color: var(--cover-color);
    }
}
.animation-wrapper{
    display: inline-block;
    width: fit-content;
    position: relative;
    top:-47px;
    @include desktop-lg {
        top:-43px;
    }
    @include tablet {
        top:-40px;
    }
    @include mobile {
        top:-25px;
    }
    @include mobile-sm {
        top:-20px;
    }

}

.animation-wrapper {
    // display: inline-block;
    // backface-visibility: hidden;
    // animation-iteration-count: 1;
    // animation-fill-mode: both;
    // line-height: 1.3;
    // color: #e4c628;

    // &.flip-out {
    //     animation-name: flip-out;
    // }

    // &.flip-in {
    //     animation-name: flip-in;
    // }
  }

  @keyframes flip-in {
    0% {
        transform: rotateX(-95deg);
    }

    100% {
        transform: rotateX(0);
    }
  }

  @keyframes flip-out {
    0% {
        transform: rotateX(0);
    }

    100% {
        transform: rotateX(95deg);
    }
  }

  @keyframes flipping-word {
    0% {
        transform: rotateX(-95deg);
    }

    10%, 90% {
        transform: rotateX(0);
    }

    100% {
        transform: rotateX(95deg);
    }
  }

.hero-word-animation {
    position: absolute;
    opacity: 0;
    color: #e4c628;
    margin-left: 8px;
    display: inline-block;
    animation: changeword 24s linear infinite;

     &:nth-child(1) {
        animation-delay: 0s;
      }
     &:nth-child(2) {
        animation-delay: 4s;
      }
     &:nth-child(3) {
        animation-delay: 8s;
      }
     &:nth-child(4) {
        animation-delay: 12s;
      }
     &:nth-child(5) {
        animation-delay: 16s;
      }
     &:nth-child(6) {
        animation-delay: 20s;
      }
    // .letter {
    //     display: inline-block;
    //     position: relative;
    //     float: left;
    //     transform: translateZ(25px);
    //     transform-origin: 50% 50% 25px;
    //     &.out {
    //         transform: rotateX(90deg);
    //         transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    //     }
    //     &.behind {
    //         transform: rotateX(-90deg);
    //     }
    //     &.in {
    //         transform: rotateX(0deg);
    //         transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    //     }
    // }
}

@keyframes changeword {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }

    5% {
      opacity: 1;
      transform: translateY(0); // default value is 0
    }

    16% {
      opacity: 1;
      transform: translateY(0);
    }
    18% {
        opacity: 0;
      }
    30% {
      opacity: 0;
      transform: translateY(50px);
    }

    100% {
      opacity: 0;
      transform: translateY(50px);
    }
}
