.hero-page{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	z-index: 1;
	> *{
		z-index: 3;
	}
	&--berry {
		background-color: $c-berry;
		color: #fff;
		&:before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-repeat: no-repeat;
				background-position: 100% 50%;
				z-index: 2;
				background-image: url("data:image/svg+xml,%3Csvg width='280' height='448' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='.1' fill='%23fff'%3E%3Cpath d='M176.027 202c-9.307-.01-17.704 5.346-21.27 13.569-3.567 8.223-1.601 17.692 4.98 23.987 6.581 6.295 16.481 8.176 25.077 4.764 8.597-3.412 14.197-11.443 14.186-20.346-.015-12.13-10.291-21.96-22.973-21.974ZM122 206a18 18 0 1 0 18 17.973A17.97 17.97 0 0 0 122 206ZM66.526 209a14.499 14.499 0 0 0-10.279 24.753A14.5 14.5 0 0 0 81 223.474 14.475 14.475 0 0 0 66.526 209ZM11.527 213c-4.656-.01-8.86 2.666-10.646 6.779-1.787 4.112-.805 8.85 2.488 11.999 3.292 3.149 8.245 4.089 12.544 2.379 4.3-1.709 7.098-5.729 7.087-10.183C23 217.913 17.863 213 11.527 213ZM162.746 160.24c-5.664-5.657-14.842-5.653-20.501.009-5.66 5.662-5.66 14.84 0 20.502 5.659 5.662 14.837 5.666 20.501.009a14.498 14.498 0 0 0 0-20.52ZM152.5 262c-8.008 0-14.5 6.268-14.5 14s6.492 14 14.5 14 14.5-6.268 14.5-14-6.492-14-14.5-14ZM303 122c0-8.898-5.604-16.92-14.198-20.325-8.594-3.405-18.487-1.523-25.065 4.769-6.578 6.292-8.545 15.754-4.986 23.975C262.311 138.64 270.698 144 280 144c6.102.007 11.957-2.309 16.271-6.436 4.315-4.127 6.736-9.727 6.729-15.564ZM222.474 135.655a22.5 22.5 0 1 0 0 31.69c8.701-8.772 8.701-22.918 0-31.69ZM190.803 280.381c-6.616 6.277-8.618 15.754-5.069 23.997C189.282 312.62 197.681 318 207 318c9.319 0 17.718-5.38 21.266-13.622 3.549-8.243 1.547-17.72-5.069-23.997-8.967-8.508-23.427-8.508-32.394 0ZM257 326c0 12.15 10.297 22 23 22s23-9.85 23-22-10.297-22-23-22-23 9.85-23 22ZM262 379.5c0 7.078 4.385 13.459 11.112 16.167 6.726 2.709 14.468 1.212 19.615-3.793 5.148-5.005 6.688-12.532 3.902-19.071C293.843 366.264 287.28 362 280 362c-9.941 0-18 7.835-18 17.5ZM265 433.474c-.011 5.867 3.637 11.162 9.241 13.414 5.604 2.253 12.06 1.019 16.356-3.126 4.295-4.145 5.583-10.384 3.263-15.805-2.32-5.421-7.791-8.957-13.86-8.957-8.274 0-14.985 6.476-15 14.474ZM298 68.5c0-9.665-8.059-17.5-18-17.5s-18 7.835-18 17.5S270.059 86 280 86c4.776.007 9.358-1.835 12.736-5.118 3.377-3.284 5.271-7.739 5.264-12.382ZM242 97.5c0-8.008-6.492-14.5-14.5-14.5S213 89.492 213 97.5s6.492 14.5 14.5 14.5 14.5-6.492 14.5-14.5ZM295 14.5C295 6.492 288.284 0 280 0c-8.284 0-15 6.492-15 14.5S271.716 29 280 29c8.284 0 15-6.492 15-14.5ZM180.744 101.279a18.01 18.01 0 0 0-19.625-3.91A18 18 0 0 0 150 114a18 18 0 0 0 11.119 16.631 18.01 18.01 0 0 0 19.625-3.91c7.008-7.034 7.008-18.408 0-25.442ZM139.741 65.254a14.483 14.483 0 0 0-15.793-3.152A14.5 14.5 0 0 0 115 75.5a14.5 14.5 0 0 0 8.948 13.397c5.417 2.244 11.65 1 15.793-3.15a14.453 14.453 0 0 0 0-20.493ZM156.265 321.141c-7.024 6.834-7.02 17.908.009 24.737 7.029 6.829 18.423 6.829 25.452 0 7.029-6.829 7.033-17.903.009-24.737C178.362 317.85 173.779 316 169 316c-4.779 0-9.362 1.85-12.735 5.141ZM119.253 362.095c-4.15 4.002-5.394 10.025-3.151 15.259 2.244 5.233 7.532 8.646 13.398 8.646s11.154-3.413 13.398-8.646c2.243-5.234.999-11.257-3.151-15.259-5.661-5.46-14.833-5.46-20.494 0ZM216.4 340.259c-4.293 4.143-5.58 10.376-3.26 15.793 2.321 5.416 7.792 8.948 13.86 8.948s11.539-3.532 13.86-8.948c2.32-5.417 1.033-11.65-3.26-15.793-2.805-2.726-6.621-4.259-10.6-4.259-3.979 0-7.795 1.533-10.6 4.259Z'/%3E%3C/g%3E%3C/svg%3E");
		}
		.gp-breadcrumbs {
			color: inherit;
		}
	}
	&--navy {
		&:after{
			background-color: $c-navy;
		}
		color: #fff;
		.gp-breadcrumbs {
			color: inherit;
		}
	}
	&--has-pattern {
		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-repeat: no-repeat;
			background-position: 100% 50%;
			z-index: 2;
			background-image: url("data:image/svg+xml,%3Csvg width='280' height='448' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='.1' fill='%23fff'%3E%3Cpath d='M176.027 202c-9.307-.01-17.704 5.346-21.27 13.569-3.567 8.223-1.601 17.692 4.98 23.987 6.581 6.295 16.481 8.176 25.077 4.764 8.597-3.412 14.197-11.443 14.186-20.346-.015-12.13-10.291-21.96-22.973-21.974ZM122 206a18 18 0 1 0 18 17.973A17.97 17.97 0 0 0 122 206ZM66.526 209a14.499 14.499 0 0 0-10.279 24.753A14.5 14.5 0 0 0 81 223.474 14.475 14.475 0 0 0 66.526 209ZM11.527 213c-4.656-.01-8.86 2.666-10.646 6.779-1.787 4.112-.805 8.85 2.488 11.999 3.292 3.149 8.245 4.089 12.544 2.379 4.3-1.709 7.098-5.729 7.087-10.183C23 217.913 17.863 213 11.527 213ZM162.746 160.24c-5.664-5.657-14.842-5.653-20.501.009-5.66 5.662-5.66 14.84 0 20.502 5.659 5.662 14.837 5.666 20.501.009a14.498 14.498 0 0 0 0-20.52ZM152.5 262c-8.008 0-14.5 6.268-14.5 14s6.492 14 14.5 14 14.5-6.268 14.5-14-6.492-14-14.5-14ZM303 122c0-8.898-5.604-16.92-14.198-20.325-8.594-3.405-18.487-1.523-25.065 4.769-6.578 6.292-8.545 15.754-4.986 23.975C262.311 138.64 270.698 144 280 144c6.102.007 11.957-2.309 16.271-6.436 4.315-4.127 6.736-9.727 6.729-15.564ZM222.474 135.655a22.5 22.5 0 1 0 0 31.69c8.701-8.772 8.701-22.918 0-31.69ZM190.803 280.381c-6.616 6.277-8.618 15.754-5.069 23.997C189.282 312.62 197.681 318 207 318c9.319 0 17.718-5.38 21.266-13.622 3.549-8.243 1.547-17.72-5.069-23.997-8.967-8.508-23.427-8.508-32.394 0ZM257 326c0 12.15 10.297 22 23 22s23-9.85 23-22-10.297-22-23-22-23 9.85-23 22ZM262 379.5c0 7.078 4.385 13.459 11.112 16.167 6.726 2.709 14.468 1.212 19.615-3.793 5.148-5.005 6.688-12.532 3.902-19.071C293.843 366.264 287.28 362 280 362c-9.941 0-18 7.835-18 17.5ZM265 433.474c-.011 5.867 3.637 11.162 9.241 13.414 5.604 2.253 12.06 1.019 16.356-3.126 4.295-4.145 5.583-10.384 3.263-15.805-2.32-5.421-7.791-8.957-13.86-8.957-8.274 0-14.985 6.476-15 14.474ZM298 68.5c0-9.665-8.059-17.5-18-17.5s-18 7.835-18 17.5S270.059 86 280 86c4.776.007 9.358-1.835 12.736-5.118 3.377-3.284 5.271-7.739 5.264-12.382ZM242 97.5c0-8.008-6.492-14.5-14.5-14.5S213 89.492 213 97.5s6.492 14.5 14.5 14.5 14.5-6.492 14.5-14.5ZM295 14.5C295 6.492 288.284 0 280 0c-8.284 0-15 6.492-15 14.5S271.716 29 280 29c8.284 0 15-6.492 15-14.5ZM180.744 101.279a18.01 18.01 0 0 0-19.625-3.91A18 18 0 0 0 150 114a18 18 0 0 0 11.119 16.631 18.01 18.01 0 0 0 19.625-3.91c7.008-7.034 7.008-18.408 0-25.442ZM139.741 65.254a14.483 14.483 0 0 0-15.793-3.152A14.5 14.5 0 0 0 115 75.5a14.5 14.5 0 0 0 8.948 13.397c5.417 2.244 11.65 1 15.793-3.15a14.453 14.453 0 0 0 0-20.493ZM156.265 321.141c-7.024 6.834-7.02 17.908.009 24.737 7.029 6.829 18.423 6.829 25.452 0 7.029-6.829 7.033-17.903.009-24.737C178.362 317.85 173.779 316 169 316c-4.779 0-9.362 1.85-12.735 5.141ZM119.253 362.095c-4.15 4.002-5.394 10.025-3.151 15.259 2.244 5.233 7.532 8.646 13.398 8.646s11.154-3.413 13.398-8.646c2.243-5.234.999-11.257-3.151-15.259-5.661-5.46-14.833-5.46-20.494 0ZM216.4 340.259c-4.293 4.143-5.58 10.376-3.26 15.793 2.321 5.416 7.792 8.948 13.86 8.948s11.539-3.532 13.86-8.948c2.32-5.417 1.033-11.65-3.26-15.793-2.805-2.726-6.621-4.259-10.6-4.259-3.979 0-7.795 1.533-10.6 4.259Z'/%3E%3C/g%3E%3C/svg%3E");
		}
	}
	> div{
		z-index: 3;
	}
	&.full-height{
	    min-height: calc(100vh - 118px);
	}
	&.content-height{
		padding: 130px 0;
		@include tablet {
			padding: 80px 0;
		}
		@include mobile {
			padding: 40px 0;
		}
		.search-bar {
			margin-bottom: -78px;
			@include tablet {
				margin-bottom: 0;
			}
		}
	}
	&:after{
		content: '';
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 32px 0;
    @include mobile {
    	padding: 32px 20px;
	}
	&__breadcrumbs {
		display: flex;
		justify-content: center;
		margin-bottom: 40px;
	}
    &__content{
    	margin-left: auto;
    	margin-right: auto;
    	text-align: center;
    	font-style: normal;
    	position: relative;
    }
    &__title{
		font-weight: 500;
		font-size: 64px;
		line-height: 77px;
		margin-top: 0px;
		margin-bottom: 0px;
		color: inherit;
		@include desktop {
	        font-size: 48px;
	        line-height: 62px;
	    }
	    @include tablet {
	    	font-size: 36px;
	    	line-height: 46px;
	    	margin-top: 30px;
	    }
	    @include mobile {
	    	font-size: 32px;
	    	line-height: 40px;
	    	margin-top: 20px;
	    }
    }
	&__logo {
		margin-top: 24px;
	}
    &__subtitle{
		font-weight: 400;
		font-size: 18px;
		line-height: 27px;
		margin-top: 24px;
		color: inherit;
		margin-bottom: 0px;
		opacity: 0.8;
		&.with-icon{
			display: flex;
		    justify-content: center;
		    align-items: center;
		    gap: 11px;
		    svg{
		    	fill: none;
		    }
		}
    }
    .bottom-dots{
    	margin-top: 25px;
    	@include tablet {
	    	margin-top: 15px;
	    }
    }

    a{
    	color: inherit;
    	opacity: 0.8;
    	font-weight: 400;
    	&:hover{
    		opacity: 1;
    	}
    }
    .index-promo__logos{
    	margin-top: auto;
    	width: 100%;
    	max-width: 1320px;
    }
    &.margin-top-auto{
    	.container{
	 		margin-top: auto;
	    }
    }
}
.archive .hero-page,
.page-template-archive-template .hero-page{
	background-image: url('../images/LOGO-PATTERN.svg');
	background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
}


.solution-hero {
	position: relative;
	overflow: hidden;
	&__wrap {
		display:-ms-grid;
		display:grid;
		-ms-grid-columns:470px 1fr;
		grid-template-columns:470px 1fr;
		grid-gap: 60px;
		align-items: center;
		@include tablet {
			-ms-grid-columns:1fr;
			grid-template-columns:1fr;
			grid-gap: 0;
		}
	}
	&__frame {
		padding: 58px 0;
		@include mobile {
			padding: 40px 0;
		}
	}
	&__visual {
		position: relative;
		min-height: 500px;
		@include tablet {
			min-height: 0;
			padding-bottom: 60%;
		}
	}
	&__image {
		position: absolute;
		top: 0;
		right: 0;
		width: var(--width);
		bottom: 0;
		.solution-color-deco {
			width: 50%;
		}
		@include tablet {
			width: auto;
			left: -20px;
			right: -20px;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;

		}
	}
	&__breadcrumbs {
		.gp-breadcrumbs {
			margin: 0 0 40px;
			color: #363636;
			.separator {
				color: #D0D0D0;
			}
			a {
				color: #818182;
			}
		}
	}
	&__title {
		margin: 0 0 24px;
		color: $c-navy;
	}
	&__description {
		font-weight: 400;
		font-size: 18px;
		line-height: 1.5;
	}
	&__logos {
		margin: 60px 0 0;
		display: flex;
		justify-content: space-between;
		gap: 24px;
		flex-wrap: wrap;
		@include desktop {
			justify-content: flex-start;
		}
	}
	&__logos-item {
		height: 64px;
		img {
			max-width: 64px;
			max-height: 64px;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}
