.highlight-cta{
	padding: 12px 16px;
	border-radius: 12px;
	width: fit-content;
	p{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 12px;
		margin: 0px;
		color: inherit;
		a{
			color: inherit;
			font-style: normal;
			font-weight: 500;
			font-size: 12px;
			line-height: 18px;
			// text-transform: uppercase;
			text-decoration: none;
			border-bottom: 2px solid;
		}
	}
}