.pagination {
    margin: 20px 0;
    text-align: center;
    .nav-links{
        @include tablet{
            display: flex;
            justify-content: center;
        }
    }
    .page-numbers{
        display: inline-block;
        margin: 0 5px;
        background-color: #fff;
        border: 1px solid $c-aqua;
        color: $c-navy;
        text-decoration: none;
        padding: 5px 10px;
        @include mobile{
            padding: 4px 8px;
            margin: 0 3px;
            font-size: 10px;
            &.prev, &.next{
                color: transparent;
                width: 25px;
                height: 25px;
                font-size: 1px;
                overflow: hidden;
                position: relative;
                &:after{
                    content: '';
                    position: absolute;
                    left: 0px;
                    top: 2px;
                    width: 20px;
                    height: 20px;
                    background-size: contain;
                    background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MTIgNTEyIj48cGF0aCBkPSJNMzUyIDExNS40IDMzMS4zIDk2IDE2MCAyNTZsMTcxLjMgMTYwIDIwLjctMTkuM0wyMDEuNSAyNTZ6IiBmaWxsPSIjMWU4YWE4IiBjbGFzcz0iZmlsbC0wMDAwMDAiPjwvcGF0aD48L3N2Zz4=);
                }
            }
            &.next{
                &:after{
                    transform: rotate(180deg);
                    left: 2px;
                }
            }
        }
        &.current, &:hover{
            background-color: $c-aqua;
            color: #fff;
            @include mobile{
                &.prev, &.next{
                    color: transparent;
                    &:after{
                        background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MTIgNTEyIj48cGF0aCBkPSJNMzUyIDExNS40IDMzMS4zIDk2IDE2MCAyNTZsMTcxLjMgMTYwIDIwLjctMTkuM0wyMDEuNSAyNTZ6IiBmaWxsPSIjZmZmZmZmIiBjbGFzcz0iZmlsbC0wMDAwMDAgZmlsbC0xZThhYTgiPjwvcGF0aD48L3N2Zz4=);

                    }
                }
            }
        } 
    }
}