.partners-block {
	display:grid;
	grid-gap: 60px 32px;
	grid-template-columns: repeat(auto-fill, [col-start] minmax(260px, 1fr) [col-end]);
	&__item {
		text-decoration: none;
		color: $c-navy;
		display: block;
	}
	&__logo {
		border: 1px solid rgba(20, 38, 58, 0.2);
		border-radius: 24px;
		height: 186px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 0 16px;
		img {
			width: auto;
			height: auto;
			max-width: 80%;
			max-height: 80%;
			object-fit: contain;
		}
	}
	&__name {
		text-align: center;
		font-weight: 500;
		font-size: 16px;
		line-height: 150%;
	}
}
