.podcast__container{
	padding-top: 120px;
	@include mobile {
		padding-top: 80px;
	}
	&-wrapper{
		display: flex;
    	align-items: flex-start;
    	gap:60px;
    	flex-direction: row-reverse;
	    @include mobile {
        	flex-direction: column;
    		gap:30px;
	    }
	}
	&-text{
		.main-title{
			color: $c-navy;
			+ p{
				margin-top: 0px;
			}
		}
		margin-bottom: 24px;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: 21px;
		color: #5A5858;
	}
	&-image{
		width: 50%;
	    @include mobile {
	    	width: 100%;
		}
		img{
			border-radius: 24px;
			overflow: hidden;
			display: block;
		}
		+ .podcast__container-text{
			width: 50%;
			@include mobile {
		    	width: 100%;
			}
		}
	}
	.podcast-shortcode{
		padding-top: 120px;
	}
}