.video-section {
	background-color: #073759;
	padding: 46px 0;
	text-align: center;
	position: relative;
	overflow: hidden;
	@include mobile {
		padding: 30px 0;
	}
	&.has-radius img{
		border-radius: 24px;
	}
}
.video-item {
	position: relative;
	img {
		display: inline-block;
		vertical-align: top;
	}
	&__play {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 160px;
		height: 160px;
		background: #FFFFFF;
		box-shadow: 0px 0px 24px rgba(6, 23, 41, 0.16);
		margin: 0px;
		transform: scale(1) translate(-50%, -50%);
		border-radius: 50%;
		transition: all 0.2s ease 0s;
		cursor: pointer;
		border: none;
		-webkit-appearance: none;
		transform-origin: center;
		@include mobile {
			width: 48px!important;
			height: 48px!important;
		}
		&:hover {
			transform: scale(1.1) translate(-50%, -50%);
		}
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-position: 57% 50%;
			background-image: url("data:image/svg+xml,%3Csvg width='21' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 12 0 24V0l21 12Z' fill='%23B12452'/%3E%3C/svg%3E");
			@include mobile {
				background-size: 14px 14px;
			}
		}
	}
}
.video-block{
	overflow: hidden;
	&.has-radius {
		border-radius: 24px;
	}
	.video-item__play {
		width: 100px;
		height: 100px;
		margin: -50px 0 0 -50px;
	}
}