.services--home {
  //position : relative;
  //overflow: hidden;

  > .e-con-inner {

	> .e-con {
	  overflow: hidden;

	  &:after {
		content    : "";
		position   : absolute;

		bottom     : -16px;
		right      : 0;

		width      : 709px;
		height     : 254px;

		background : linear-gradient(180deg, rgba(9, 14, 36, 0.00) 11.56%, #090E24 100%);
	  }
	}
  }
}
