body {

  .elementor-widget-button {

	&.gp-btn {
	  --gp-btn-br        : 100px;
	  --gp-btn-p         : 10px;

	  --gp-btn-c         : var(--wp--preset--color--neutrals-50);
	  --gp-btn-c--hover  : var(--wp--preset--color--neutrals-50);
	  --gp-btn-c--focus  : var(--wp--preset--color--neutrals-50);
	  --gp-btn-bg        : var(--wp--preset--color--mint-800);
	  --gp-btn-bg--hover : var(--wp--preset--color--mint-600);
	  --gp-btn-bg--focus : var(--wp--preset--color--mint-600);


	  .elementor-button {
		position         : relative;

		border-radius    : var(--gp-btn-br);
		padding          : var(--gp-btn-p) var(--gp-btn-p) var(--gp-btn-p) calc(var(--gp-btn-p) + 9px); // +9px left for some reason

		color            : var(--gp-btn-c);
		background-color : var(--gp-btn-bg);

		&-content-wrapper {

		}

		&-text {
		  line-height : 1.5;
		}

		&-icon {

		  svg {
			fill         : currentColor;
			stroke       : currentColor;

			width        : 100%;
			max-width    : 20.60px;
			aspect-ratio : 20.60/13.99;
		  }
		}

		&:hover {
		  color            : var(--gp-btn-c--hover);
		  background-color : var(--gp-btn-bg--hover);

		  &:before {
			content       : "";
			position      : absolute;
			top           : 0;
			left          : 0;
			width         : 100%;
			height        : 100%;

			border-radius : var(--gp-btn-br);
			border-style: solid;
			border-width: 2px;
			border-color: red;
		  }
		}

		&:focus {
		  color            : var(--gp-btn-c--focus);
		  background-color : var(--gp-btn-bg--focus);
		}

		&:active {

		}
	  }


	}
  }
}
