body {

  .elementor-widget-button {

	// Default Button - Primary
	&.gp-btn {
	  --gp-btn-br         : 100px;
	  --gp-btn-py         : 10px;
	  --gp-btn-px         : 10px;

	  --gp-btn-c          : var(--wp--preset--color--neutrals-50);
	  --gp-btn-c--hover   : var(--wp--preset--color--neutrals-50);
	  --gp-btn-c--active  : var(--wp--preset--color--neutrals-50);
	  --gp-btn-bg         : var(--wp--preset--color--mint-800);
	  --gp-btn-bg--hover  : var(--wp--preset--color--mint-600);
	  --gp-btn-bg--active : var(--wp--preset--color--mint-700);

	  .elementor-button {
		// Elementor Override
		// line-height      : 1.5 !important; // 1.5 by default
		// -END - Elementor Override

		position         : relative;

		border-radius    : var(--gp-btn-br);
		padding          : var(--gp-btn-py) var(--gp-btn-px) var(--gp-btn-py) calc(var(--gp-btn-px) + 9px); // +9px left for some reason

		color            : var(--gp-btn-c);
		background-color : var(--gp-btn-bg);

		&-content-wrapper {

		}

		&-text {

		}

		&-icon {

		  svg {
			fill         : currentColor;
			stroke       : currentColor;

			width        : 100%;
			max-width    : 20.60px;
			aspect-ratio : 20.60/13.99;
		  }
		}

		&:hover,
		&:focus {
		  color            : var(--gp-btn-c--hover);
		  background-color : var(--gp-btn-bg--hover);

		  &:before {
			content                : "";
			position               : absolute;
			inset                  : 0;
			border-radius          : var(--gp-btn-br);
			padding                : 2px;

			background             : linear-gradient(
							to bottom,
							rgba(223, 255, 252, 0),
							rgba(180, 255, 249, 0.6)
			);

			-webkit-mask           : linear-gradient(#FFFFFF 0 0) content-box,
			linear-gradient(#FFFFFF 0 0);
			-webkit-mask-composite : xor;
			mask-composite         : exclude;

			pointer-events         : none;
			transition             : opacity .3s;
		  }
		}

		&:active {
		  color            : var(--gp-btn-c--active);
		  background-color : var(--gp-btn-bg--active);

		  &:before {
			opacity : 0;
		  }
		}
	  }

	  // Large
	  &--lg {
		--gp-btn-py : 15px;
		--gp-btn-px : 15px;

		.elementor-button {
		  // Elementor Override
		  line-height : 1.1 !important;
		  // -END - Elementor Override
		}
	  }

	  // Small
	  &--sm {
		--gp-btn-py : 8px;
		--gp-btn-px : 10px;

		.elementor-button {
		  // Elementor Override
		  font-size   : 11px !important;
		  line-height : 1.4 !important;
		  // -END - Elementor Override
		}
	  }

	  // Secondary
	  &--secondary {
		--gp-btn-c          : var(--wp--preset--color--mint-800);
		--gp-btn-c--hover   : var(--wp--preset--color--neutrals-50);
		--gp-btn-c--active  : var(--wp--preset--color--mint-800);
		--gp-btn-bg         : var(--wp--preset--color--grey-50);
		--gp-btn-bg--hover  : var(--wp--preset--color--mint-600);
		--gp-btn-bg--active : var(--wp--preset--color--blue-jl-50);

		.elementor-button {

		  &:before {
			display : none !important;
		  }

		  &-text,
		  &-icon {
			transition : opacity .3s;
		  }

		  &:active {

			.elementor-button-text,
			.elementor-button-icon {
			  opacity : 0.5;
			}
		  }
		}
	  }
	}
  }
}
