//.vertical-carousel {
//
//}
//
///* adjust height to your layout */
//.vertical-carousel .e-n-carousel.swiper {
//  height: 500px;
//}
//
///* optional: if you used "Image spacing" in the widget, Elementor sets margin-right.
//   In vertical mode it should be bottom spacing instead, so kill the right margin. */
//.vertical-carousel .e-n-carousel .swiper-slide {
//  margin-right: 0 !important;
//}
