
header {

  .elementor-widget-search {
	--search-input-width : 250px;
	--search-button-size : calc(37.5px + 4px); // adjust to match your button
	--search-transition  : 0.3s ease;

	.e-search {

	  // The form IS the pill - border goes here
	  .e-search-form {
		display       : flex;
		align-items   : center;

		width         : var(--search-button-size);
		overflow      : hidden;

		border-radius : 100px;
		border        : 2px solid transparent;

		transition    : width var(--search-transition),
		border-color var(--search-transition);
	  }

	  .e-search-input-wrapper {
		flex      : 1;
		min-width : 0;
		overflow  : hidden;
	  }

	  .e-search-input {
		width            : 100%;
		min-height       : calc(17.5px + (10px * 2));

		border           : none;
		background-color : transparent;
		outline          : none;

		padding-left     : 15px;
		padding-right    : 10px;
	  }

	  .e-search-submit {
		flex-shrink : 0;
		cursor      : pointer;
	  }
	}


	// Open state
	&.is-open {

	  .e-search {

		.e-search-form {
		  width        : var(--search-input-width);
		  border-color : var(--wp--preset--color--grey-50);
		}
	  }
	}
  }
}
