
header {

  .elementor-widget-search {
	--search-input-width : 250px;
	--search-transition  : 0.3s ease;

	.e-search {

	  .e-search-form {
		display     : flex;
		align-items : center;

		position    : relative;
	  }

	  .e-search-input-wrapper {
		max-width  : 0;
		overflow   : hidden;
		transition : max-width var(--search-transition),
		opacity var(--search-transition);
		opacity    : 0;
	  }

	  .e-search-input {
		width         : var(--search-input-width);
		min-width     : var(--search-input-width);

		min-height    : calc(17.5px + (10px * 2)); // icon size + 2 x border-size
		border-radius : 100px;
		border-style  : solid;
		border-width  : 2px;
		border-color  : var(--wp--preset--color--grey-50);

		padding-left  : 15px;
	  }

	  .e-search-submit {
		flex-shrink : 0;
		cursor      : pointer;

		position    : absolute;
		top         : 0;
		right       : 0;
	  }
	}


	// Open state
	&.is-open {

	  .e-search {
		.e-search-input-wrapper {
		  max-width : var(--search-input-width);
		  opacity   : 1;
		}
	  }
	}
  }
}
